* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #210A0A;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.header {
    height: 92px;
    background-color: #210A0A;
    padding-top: 22px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    line-height: 45px;
}

.hamburger {
    display: none;
    width: 26px;
    height: 12px;
    cursor: pointer;
    margin-top: 14px;
    margin-right: 13px;
}

.hamburger span {
    display: block; 
    height: 3px;
    width: 30px;
    background-color: #fff;
    margin-bottom: 4px;
    border-radius: 10px;
    transition: 0.4s all;
}

.hamburger_active span:nth-child(2) {
    transform: translateX(-25%);
} 

.hamburger_active span:nth-child(3) {
    transform: translateX(-45%);
} 

.logo img {
    height: 50px;
}

.nav {
    display: flex;
}

.nav__item {
    list-style-type: none;
    margin-right: 27px;
}
.nav__item a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Cormorant', serif;
    font-weight: 400;
}

.languagle__wrap {
    display: flex;
}

.languagle {
    display: flex;
}

.languagle :nth-child(2) {
    color: #ffffff;
}

.languagle__item {
    list-style-type: none;
    margin-left: 5px;
}

.languagle__item a {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Cormorant', serif;
    font-weight: 400;
}

/* 2 block Promo */  
.promo {
    height: 610px;
    background: url(../img/history-bg.jpg) no-repeat;
    background-size: cover;
    padding-top: 24px;
    margin: 0;
    padding: 0;
}

.promo__block {
    display: flex;
    justify-content: space-between;
}

.promo__block__title {
    font-size: 144px;
    color: #ffffff;
    font-family: 'Cormorant', serif;
    font-weight: 300;
    padding-top: 130px;
}

.promo__block__subtitle {
    width: 734px;
    font-size: 72px;
    color: #ffffff;
    font-family: 'Cormorant', serif;
    font-weight: 300;
    margin-top: 315px;
    text-align: right;
}

/* 3 block */

/* Battle of Agosta Card */
.cards__slide__agost {
    width: 100%;
    height: 562px;
    background-color: #3A2520;
    margin-top: 80px;
    display: flex;
}

.cards__slide__agost__content {
    width: 510px;
    margin: 0 auto;
}

.cards__slide__agost__content__type {
    font-size: 14px;
    color: #CE9C80;
    font-family: 'Cormorant', serif;
    font-weight: 300;
    margin-top: 65px;
}

.cards__slide__agost__content__name {
    font-size: 64px;
    color: #CE9C80;
    font-family: 'Cormorant', serif;
    font-weight: 300;
}   

.cards__slide__agost__content__text {
    font-size: 24px;
    color: #CE9C80;
    font-family: 'Cormorant', serif;
    font-weight: 300;
    text-align: justify;
    margin-top: 50px;
    line-height: 32px;
}

/* Battle for Shevardinsky Redoubt card */
.cards__slide__redut {
    width: 100%;
    height: 562px;
    background-color: #3A2520;
    margin-top: 80px;
    display: flex;
}

.cards__slide__redut__content {
    width: 475px;
    margin: 0 auto;
}

.cards__slide__redut__content__type {
    font-size: 14px;
    color: #CE9C80;
    font-family: 'Cormorant', serif;
    font-weight: 300;
    margin-top: 65px;
    margin-left: 23px;
}

.cards__slide__redut__content__name {
    font-size: 48px;
    color: #CE9C80;
    font-family: 'Cormorant', serif;
    font-weight: 300;
    text-align: center;
}   

.cards__slide__redut__content__text {
    font-size: 24px;
    color: #CE9C80;
    font-family: 'Cormorant', serif;
    font-weight: 300;
    text-align: justify;
    margin-top: 58px;
    line-height: 32px;
}

/* Petr I Card */ 
.cards__slide__petr {
    width: 100%;
    height: 562px;
    background-color: #3A2520;
    margin-top: 80px;
    display: flex;
}

.cards__slide__petr__content {
    width: 555px;
    margin: 0 auto;
}

.cards__slide__petr__content__type {
    font-size: 14px;
    color: #CE9C80;
    font-family: 'Cormorant', serif;
    font-weight: 300;
    margin-top: 65px;
}

.cards__slide__petr__content__name {
    width: 700px;
    font-size: 55px;
    color: #CE9C80;
    font-family: 'Cormorant', serif;
    font-weight: 300;
}   

.cards__slide__petr__content__text {
    font-size: 24px;
    color: #CE9C80;
    font-family: 'Cormorant', serif;
    font-weight: 300;
    text-align: justify;
    margin-top: 50px;
    line-height: 32px;
}

/* Footer */

.last {
    margin-top: 50px;
    height: 305px;
    background-color: #210A0A;
    padding: 36px 27px;
}

.last__block {
    text-align: center;
}

.last__block__logo {
    width: 136px;
    height: 60px;
}

.last__hr {
    width: 100%;
    color: #939393;
    margin-top: 18px;
}

.last__block__nav {
    display: flex;
    margin-top: 22px;
}

.last__block__nav__item {
    list-style-type: none;
    margin: 0 auto;
}
.last__block__nav__item a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Cormorant', serif;
    font-weight: 400;
}

.last__block__social__item {
    background-color: #221D1D;
    border: 0.5px solid #ffffff;
    padding: 9px;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    transition: 0.4s all;
    margin-right: 25px;
    margin-top: 33px;
}

.last__block__social__item:hover {
    background-color: #000000;
}

.last__block__social__item-mr0 {
    margin-right: 0;
}

.last__block__copyright {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 25px;
}

/* Menu */
.menu {
    background-color: #000;
    width: 60%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    left: -100%;
    transition: 0.5s all;
    display: none;
    top: 0;
    z-index: 10;
}

.menu_active {
    left: 0;
    position: fixed;
}

.menu__title {
    font-size: 36px;
    color: #ffffff;
    font-family: 'Cormorant', serif;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
}

.menu__inner__nav {
    margin-top: 30px;
    text-align: center;
}

.menu__inner__nav__item {
    margin-bottom: 17px;
}

.menu__inner__nav__item a {
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Cormorant', serif;
    font-weight: 300;
}

.menu__inner__title__item {
    font-size: 24px;
    color: #ffffff;
    font-family: 'Cormorant', serif;
    font-weight: 600;
    margin-top: 6px;
    margin-left: 60px;
}

.menu__inner__title__item a {
    text-decoration: none;
    color: #fff;
}

.item__mt18 {
    margin-top: 18px;
}

/* Adaptive */
@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }

    .languagle__wrap {
        line-height: 42px;
    }

    .nav__item {
        margin-right: 50px;
    }

    .promo__block__subtitle {
        font-size: 59px;
    }

    .cards__slide__agost__img {
        width: 442px;
        height: 562px;
    }

    .cards__slide__agost__content__type {
        margin-left: 40px;
    }

    .cards__slide__agost__content__name {
        margin-left: 40px;
    }

    .cards__slide__agost__content__text {
        width: 432px;
        margin: 0 auto;
    }

    .cards__slide__redut__content__type {
        margin-left: 40px;
    }

    .cards__slide__redut__content__name {
        margin-left: 40px;
        font-size: 55px;
    }

    .cards__slide__redut__content__text {
        width: 432px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .cards__slide__redut__img {
        width: 442px;
        height: 562px;
    }

    .cards__slide__petr__content__type {
        margin-left: 40px;
        margin-top: 28px;
    }

    .cards__slide__petr__content__name {
        margin-left: 40px;
        width: 455px;
        font-size: 62px;
    }

    .cards__slide__petr__content__text {
        width: 432px;
        margin: 0 auto;
        margin-top: 20px;
    }

}

@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }

    .nav__item {
        margin-right: 35px;
    }

    .promo__block {
        flex-direction: column;
    }

    .promo__block__title {
        text-align: center;
    }

    .promo__block__subtitle {
        font-size: 60px;
        margin-top: 0;
        text-align: center;
    }

    .cards__slide__agost {
        height: 409px;
    }

    .cards__slide__agost__img {
        height: 409px;
        width: 324px;
    }

    .cards__slide__agost__content__type {
        margin-top: 24px;
        margin-left: 22px;
    }

    .cards__slide__agost__content__name {
        font-size: 40px;
        margin-left: 22px;
    }

    .cards__slide__agost__content__text {
        width: 349px;
        margin: 0 auto;
        font-size: 18px;
        margin-top: 20px;
    }

    .cards__slide__redut {
        height: 409px;
    }

    .cards__slide__redut__content__type {
        margin-left: 22px;
        margin-top: 30px;
    }

    .cards__slide__redut__content__name {
        font-size: 40px;
        margin-left: 22px;
    }

    .cards__slide__redut__content__text {
        width: 349px;
        margin: 0 auto;
        font-size: 18px;
        margin-top: 20px;
    }

    .cards__slide__redut__img {
        height: 409px;
        width: 324px;
    }

    .cards__slide__petr__img {
        width: 324px;
        height: 409px;
    }

    .cards__slide__petr {
        height: 409px;
    }

    .cards__slide__petr__content__type {
        margin-left: 22px;
        margin-top: 30px;
    }

    .cards__slide__petr__content__name {
        margin-left: 22px;
        font-size: 45px;
        width: 340px;
    }

    .cards__slide__petr__content__text {
        width: 349px;
        margin: 0 auto;
        font-size: 18px;
    }

}

@media screen and (max-width: 767px) {
    .container {
        width: 540px;
    }

    .hamburger {
        display: block;
    }

    .languagle__wrap {
        line-height: 15px;
    }

    .menu {
        display: block;
    }

    .nav {
        display: none;
    }

    .languagle {
        margin-right: 30px;
        line-height: 44px;
    }

    .promo__block {
        text-align: center;
        display: block;
    }

    .promo__block__title {
        font-size: 100px;
    }

    .promo__block__subtitle {
        font-size: 50px;
        margin-top: 0px;
        width: 555px;
        text-align: center;
    }

    .cards {
        height: 2647px;
    }

    .cards__slide__agost {
        flex-direction: column;
        width: 324px;
        margin-top: 64px;
        padding-bottom: 878px;
        margin: 0 auto;
        background-color: transparent;
    }

    .cards__slide__agost__img {
        margin-top: 80px;
    }

    .cards__slide__agost__content {
        width: 324px;
        background-color: #3A2520;
    }

    .cards__slide__agost__content__type {
        margin-top: 26px;
    }

    .cards__slide__agost__content__text {
        width: 272px;
        padding-bottom: 20px;
    }

    .cards__slide__redut {
        flex-direction: column;
        padding-bottom: 762px;
        margin: 0 auto;
        margin-top: 64px;
        width: 324px;
    }

    .cards__slide__redut__content__name {
        font-size: 40px;
        width: 316px;
        text-align: left;
    }

    .cards__slide__redut__content__text {
        width: 273px;
        padding-bottom: 30px;
        margin-left: 22px;
        margin-top: 20px;
    }

    .cards__slide__redut__content {
        width: 324px;
    }

    .cards__slide__redut__img {
        height: 409px;
    }

    .cards__slide__petr {
        padding-top: 135px;
        flex-direction: column;
        width: 324px;
        padding-bottom: 950px;
        margin: 0 auto;
        height: 0;
        background-color: transparent;
    }

    .cards__slide__petr__img {
        margin-top: 85px;
    }

    .cards__slide__petr__content {
        width: 324px;
        background-color: #3A2520;
        padding-bottom: 40px;
    }

    .cards__slide__petr__content__type {
        margin-top: 26px;
    }

    .cards__slide__petr__content__name {
        width: 300px;
    }

    .cards__slide__petr__content__text {
        width: 272px;
    }

}

@media screen and (max-width: 575px) {
    .container {
        width: 100%;
    }

    .hamburger {
        margin-right: 15px;
    }

    .cards {
        overflow: hidden;
        height: 2900px;
    }

    .promo__block__title {
        font-size: 75px;
    }

    .promo__block__subtitle {
        width: 95%;
        margin: 0 auto;
        margin-top: 0px;
        font-size: 38px;
    }

    .cards__slide__agost {
        width: 300px;
        padding-bottom: 878px;
    }

    .cards__slide__agost__img {
        width: 300px;
        height: 378px;
    }

    .cards__slide__agost__content__name {
        margin-left: 13px;
    }

    .cards__slide__agost__content__type {
        margin-left: 13px;
    }

    .cards__slide__agost__content {
        width: 300px;
    }

    .cards__slide__redut {
        width: 300px;
        margin-top: 200px;
    }

    .cards__slide__redut__content__type {
        margin-left: 13px;
    }

    .cards__slide__redut__content__name {
        margin-left: 13px;
    }

    .cards__slide__redut__content__text {
        width: 274px;
        margin-left: 13px;
    }

    .cards__slide__redut__img {
        width: 300px;
        height: 378px;
    }

    .cards__slide__petr {
        width: 300px;
        padding-top: 64px;
    }

    .cards__slide__petr__img {
        height: 378px;
        margin-top: 150px;
        width: 300px;
    }

    .cards__slide__petr__content {
        width: 300px;
    }

    .cards__slide__petr__content__type {
        margin-left: 13px;
    }

    .cards__slide__petr__content__name {
        margin-left: 13px;
    }

    .cards__slide__petr__content__text {
        margin-right: 13px;
    }

    .last__block__nav {
        display: none;
    }

}


